[core]
	editor = vim
	ignorecase = false
	longpaths = true

[user]
	name = phwt
	email = 28344318+phwt@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICvQKPtuoAAuKYlgN6JQDxXz+CDVwRO8ODqAlAICAyIh

[commit]
  gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
	allowedSignersFile = ~/.config/git/allowed-signers

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
	followTags = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[rerere]
	enabled = 1

[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager

[include]
  ; path = ~/.gitconfig.windows
  path = ~/.gitconfig.local
