[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	ignorecase = false
[user]
	name = phwt
	email = 28344318+phwt@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rerere]
	enabled = 1
[push]
	autoSetupRemote = true
	followTags = true
[init]
	defaultBranch = main
